.header {
    height: 180px;
    background-color: #03A9F4;
    width: 100%;
    padding-top: 1px;
}

ion-label h2 {
    color:#03A9F4;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
    margin-left: 40px;
}

.header h3 {
    color:White;
    font-size: x-large;
    text-align: center;
}

p {
    font-size: xx-large;
    margin-left: 40px;
    font-weight: bold;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: 76px;
}