<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <h3>MON PROFIL</h3>
    <div class="flex">
      <div class="box-border">
        <div class="border-white">
          <div class="img-box">
            <img src="../../assets/MaPhoto.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
        <br><br><ion-label><h2>Noms: </h2></ion-label>
        <br><ion-label><p>SOULONG KOUAM </p></ion-label>
        <br><br>
        <ion-label><h2>Prénoms: </h2></ion-label>
        <br><ion-label><p>MARIE NOELLE </p></ion-label>
        <br><br>
        <ion-label><h2>Ecole: </h2></ion-label>
        <br><ion-label><p>UNIVERSITE DE DSCHANG</p></ion-label>
        <br><br>
        <ion-label><h2>Cycle: </h2></ion-label>
        <br><ion-label><p>MASTER </p></ion-label>
        <br><br>
        <ion-label><h2>Niveau: </h2></ion-label>
        <br><ion-label><p>1 </p></ion-label>
        <br><br>
        <ion-label><h2>Année Académique: </h2></ion-label>
        <br><ion-label><p>2022-2023 </p></ion-label>
        <br><br>
        <ion-label><h2>Matricule: </h2></ion-label>
        <br><ion-label><p> </p></ion-label>
        <br><br>
        <ion-label><h2>Lieu de Residence: </h2></ion-label>
        <br><ion-label><p>CAMEROUN </p></ion-label>
       
</div>
     
   
</ion-content>
